.login-page{
    margin: 20px 0px;
    form{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 34px;
    }
    &__btn{
        font-weight: 600;
        line-height: 1.5;
        padding: 10px;
        margin: 10px 0px;
        user-select: none;
        text-align: center;
        border-radius: .25rem;
        border: 1px solid transparent;
        cursor: pointer;
    }
}