
.menu{
    .closs--out{
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
    &__feature{
        background: rgb(148, 148, 148);
        position: absolute;
        z-index: 1000;
        .closs--btn{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
}