@import "../../assets/scss/variable";

.articles{
    margin: 40px 0;
    .article-item{
        margin: 20px 0;
        &__content{
        }
        &__header{
            display: flex;
            justify-content: space-between;
            .author{
                display:flex;
                align-items: center;
                &__avatar{
                    height:30px;
                    width: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 10px;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
            }
        }
        &__title{
            margin: 10px 0;
            font-size: 26px; 
        }
        &__description{
            margin: 10px 0;
            color: $color-gray;
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            .subject{
                padding: 3px 10px;
                border-radius: 100px; 
                background: rgb(209, 209, 209);
                text-align: center;
            }
            .subject:hover{
                background: rgb(209, 209, 209);
            }
        }
        &__thumbnail{
            height: 170px;
            padding: 10px 0;
            img{
                width: 100%;
                height: 100%;
            }
            
        }
    }
}